.App {
  background-color: bisque;
  text-align: center;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.row {
  display: flex;
  column-gap: 2rem;
}

.square {
  width: 4rem;
  height: 4rem;
}